<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.spanky.wos.model.Address">

    <resultMap type="Address" id="AddressMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="getById" resultMap="AddressMap" parameterType="int">
        <![CDATA[
            SELECT * FROM address where id = #{id};
        ]]>
    </select>
    
    <select id="getAllByUserId" resultMap="AddressMap" parameterType="int">
        <![CDATA[
            SELECT * FROM address where user_id = #{userId} AND is_deleted = 0;
        ]]>
    </select>
    
    <update id="deleteById" parameterType="int">
        UPDATE address SET is_deleted = 1 WHERE id = #{id};
    </update>
    
    <update id="update" parameterType="Address">
       <![CDATA[
            UPDATE address 
            SET 
                name = #{name},
                address = #{address},
                gender = #{gender},
                phone = #{phone},
                update_time = NOW()
            WHERE 
                id = #{id}
        ]]>
    </update>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Address">
        <![CDATA[
        INSERT INTO address 
        (user_id, name, phone, address, gender, update_time)
         VALUES (#{userId}, #{name}, #{phone}, #{address}, #{gender}, NOW())
        ]]>
    </insert>

</mapper>
