<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.spanky.wos.model.Food">

    <resultMap type="Food" id="basicFoodMap">
        <id column="id" property="id"/>
        <id column="type_id" property="foodType"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
        <result column="description" property="description"/>
        <result column="price" property="price"/>
        <result column="old_price" property="oldPrice"/>
        <result column="sell_count" property="sellCount"/>
        <result column="left_count" property="leftCount"/>
        <result column="icon" property="icon"/>
        <result column="image" property="image"/>
    </resultMap>
    
    <resultMap type="Food" id="foodMap" extends="basicFoodMap">
        <collection property="foodRatings" ofType="top.spanky.wos.model.FoodRating" column="id" select="top.spanky.wos.model.FoodRating.getFoodRatingsByFoodId">
        </collection>
    </resultMap>

    <select id="getById" parameterType="int" resultMap="basicFoodMap">
        SELECT * FROM foods where id = #{id};
    </select>
    
    <select id="getAll" resultMap="foodMap">
        <![CDATA[
            SELECT * FROM foods;
        ]]>
    </select>

</mapper>
