<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.spanky.wos.model.ShopRating">

    <resultMap type="ShopRating" id="basicShopRatingMap">
         <id column="id" property="id"/>
         <result column="user_id" property="userId"/>
         <result column="score1" property="score1"/>
         <result column="score2" property="score2"/>
         <result column="delivery_time" property="diliveryTime"/>
         <result column="text" property="text"/>
         <result column="time" property="rateTime"/>
         <result column="type" property="rateType"/>
    </resultMap>

    <resultMap type="ShopRating" id="shopRatingWithAcatar" extends="basicShopRatingMap">
         <result column="avatar" property="avatar"/>
         <result column="username" property="displayStr"/>
    </resultMap>

    <select id="getAllShopRatings" resultMap="shopRatingWithAcatar">
        <![CDATA[
            SELECT * FROM shop_ratings as a left join users as b ON a.user_id = b.id;
        ]]>
    </select>
    
    <select id="getShopRatingsByUserId" parameterType="int" resultMap="basicShopRatingMap">
        <![CDATA[
            SELECT * FROM shop_ratings as a left join users as b ON a.user_id = b.id WHERE a.user_id = #{id};
        ]]>
    </select>

</mapper>
