<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.spanky.wos.model.User">

    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="openid" property="openid"/>
        <result column="is_active" property="isActive"/>
    </resultMap>

    <select id="getByUsername" parameterType="String" resultMap="userMap">
        <![CDATA[
            SELECT * FROM users WHERE username = #{username}
        ]]>
    </select>

    <select id="getByOpenID" parameterType="String" resultMap="userMap">
        <![CDATA[
            SELECT * FROM users WHERE openid = #{openid}
        ]]>
    </select>

    <select id="getByID" parameterType="int" resultMap="userMap">
        <![CDATA[
            SELECT * FROM users WHERE id = #{id}
        ]]>
    </select>

    <insert id="addUserByWX" parameterType="User">
        <![CDATA[
        INSERT INTO users 
        (username, name, openid, gender, phone_number, avatar, is_active)
         VALUES (#{username}, #{name}, #{openid}, #{gender}, #{phoneNumber}, #{avatar}, 1)
        ]]>
    </insert>
</mapper>
