<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:hdp="http://www.springframework.org/schema/hadoop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:websocket="http://www.springframework.org/schema/websocket" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd"
        >


     <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
           <list>
                <value>classpath:app.properties</value>
           </list>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>

        <property name="maxPoolSize" value="20" />
        <property name="minPoolSize" value="5" />
        <property name="acquireIncrement" value="3" />
        <property name="initialPoolSize" value="5"></property>
    </bean>


    <bean id="websocket" class="top.spanky.wos.web.socket.WebsocketEndPoint"/>  
      
    <websocket:handlers>  
        <websocket:mapping path="/websocket" handler="websocket"/>  
        <websocket:handshake-interceptors>  
        <bean class="top.spanky.wos.web.socket.HandshakeInterceptor"/>  
        </websocket:handshake-interceptors>  
    </websocket:handlers>  

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="top.spanky.wos.model"></property>
        <property name="mapperLocations" value="classpath*:top/spanky/wos/model/mysql/*Mapper.xml" />
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

    <bean id="baseDao" abstract="true">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
    </bean>

    <bean id="userDao" class="top.spanky.wos.dao.mybatis.UserDaoImpl" parent="baseDao" />
    <bean id="foodDao" class="top.spanky.wos.dao.mybatis.FoodDaoImpl" parent="baseDao" />
    <bean id="foodRatingDao" class="top.spanky.wos.dao.mybatis.FoodRatingDaoImpl" parent="baseDao" />
    <bean id="shopRatingDao" class="top.spanky.wos.dao.mybatis.ShopRatingDaoImpl" parent="baseDao" />
    <bean id="addressDao" class="top.spanky.wos.dao.mybatis.AddressDaoImpl" parent="baseDao" />
    <bean id="discountDao" class="top.spanky.wos.dao.mybatis.DiscountDaoImpl" parent="baseDao" />
    <bean id="distributorDao" class="top.spanky.wos.dao.mybatis.DistributorDaoImpl" parent="baseDao" />
    <bean id="userDiscountDao" class="top.spanky.wos.dao.mybatis.UserDiscountDaoImpl" parent="baseDao" />
    <bean id="orderDao" class="top.spanky.wos.dao.mybatis.OrderDaoImpl" parent="baseDao" />
    <bean id="orderHistoryDao" class="top.spanky.wos.dao.mybatis.OrderHistoryDaoImpl" parent="baseDao" />
    <bean id="reportSellerDao" class="top.spanky.wos.dao.mybatis.ReportSellerDaoImpl" parent="baseDao" />
    <bean id="reportFoodDao" class="top.spanky.wos.dao.mybatis.ReportFoodDaoImpl" parent="baseDao" />

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" />
            <tx:method name="add*" propagation="REQUIRED" read-only="false" />
            <tx:method name="update*" propagation="REQUIRED" read-only="false" />
            <tx:method name="save*" propagation="REQUIRED" read-only="false" />
            <tx:method name="do*" propagation="REQUIRED" read-only="false" />
            <tx:method name="*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>

    <bean id="logMethodTime" class="top.spanky.wos.service.impl.LogMethodTime"></bean>
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* top.spanky.wos.service..*.*(..))" />
        <aop:advisor pointcut-ref="pc" advice-ref="logMethodTime" order="1" />
        <aop:advisor pointcut-ref="pc" advice-ref="txAdvice" order="2" />
    </aop:config>

    <bean id="userService" class="top.spanky.wos.service.impl.UserServiceImpl" scope="singleton">
      <property name="userDao" ref="userDao" />
    </bean>

    <bean id="foodService" class="top.spanky.wos.service.impl.FoodServiceImpl" scope="singleton">
      <property name="foodDao" ref="foodDao" />
    </bean>

    <bean id="foodRatingService" class="top.spanky.wos.service.impl.FoodRatingServiceImpl" scope="singleton">
      <property name="foodRatingDao" ref="foodRatingDao" />
    </bean>
    
    <bean id="shopRatingService" class="top.spanky.wos.service.impl.ShopRatingServiceImpl" scope="singleton">
      <property name="shopRatingDao" ref="shopRatingDao" />
    </bean>

    <bean id="addressService" class="top.spanky.wos.service.impl.AddressServiceImpl" scope="singleton">
      <property name="addressDao" ref="addressDao" />
    </bean>

    <bean id="discountService" class="top.spanky.wos.service.impl.DiscountServiceImpl" scope="singleton">
      <property name="discountDao" ref="discountDao" />
    </bean>

    <bean id="distributorService" class="top.spanky.wos.service.impl.DistributorServiceImpl" scope="singleton">
      <property name="distributorDao" ref="distributorDao" />
    </bean>

    <bean id="orderHistoryService" class="top.spanky.wos.service.impl.OrderHistoryServiceImpl" scope="singleton">
      <property name="orderHistoryDao" ref="orderHistoryDao" />
    </bean>

    <bean id="userDiscountService" class="top.spanky.wos.service.impl.UserDiscountServiceImpl" scope="singleton">
      <property name="userDiscountDao" ref="userDiscountDao" />
      <property name="discountDao" ref="discountDao" />
    </bean>
    
    <bean id="ReportService" class="top.spanky.wos.service.impl.ReportServiceImpl" scope="singleton">
      <property name="reportSellerDao" ref="reportSellerDao" />
      <property name="reportFoodDao" ref="reportFoodDao" />
      <property name="foodDao" ref="foodDao" />
    </bean>

    <bean id="orderService" class="top.spanky.wos.service.impl.OrderServiceImpl" scope="singleton">
      <property name="userDao" ref="userDao" />
      <property name="orderDao" ref="orderDao" />
      <property name="orderHistoryDao" ref="orderHistoryDao" />
      <property name="foodDao" ref="foodDao" />
      <property name="addressDao" ref="addressDao" />
      <property name="distributorDao" ref="distributorDao" />
      <property name="userDiscountDao" ref="userDiscountDao" />
      <property name="discountDao" ref="discountDao" />
      <property name="myJsonService" ref="myJsonService" />
      <property name="shopRatingDao" ref="shopRatingDao" />
      <property name="websocket" ref="websocket" />
    </bean>

    <bean id="myJsonService" class="top.spanky.wos.json.MyJsonService" scope="singleton" />

    <bean class="top.spanky.wos.util.SpringUtil"></bean>
    
</beans>