@CHARSET "UTF-8";

.lf {
    float: left;
}

.rf {
    float: right;
}

.hidden {
    display: none;
}

a{
    text-decoration: none;
}

.warning{
    color: #FF0000;
}

::-webkit-input-placeholder {
/* WebKit browsers */
    color:#9D9D9D;
}

:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    color:#9D9D9D;
}

::-moz-placeholder {
/* Mozilla Firefox 19+ */
    color:#9D9D9D;
}

:-ms-input-placeholder {
/* Internet Explorer 10+ */
    color:#9D9D9D;
}

select::-ms-expand {
    display: none;
}
