<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <script src="js/1.3.0.14/angular.js"></script>
    <style>
        body {
            background: #F5F5F5;
        }
        .title-bjcf {
            font-size: 2em;
            color: green
        }
        .title-welcome {
            font-size: 2em;
            color: deeppink
        }
        .form-group label {
            line-height: 34px;
        }
        .row {
            margin-bottom: 10px;
        }
    </style>
    
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 title-bjcf text-center">滨江厨房<img src="imgs/weixin.jpeg" width="40px" height="40px"></img>外卖点餐系统</div>
        </div>
        <div class="row">
            <div class="col-xs-12 title-welcome text-center">欢迎使用·首次注册</div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center "style="margin-bottom:5px;">
                <img src="imgs/cooker.png" width="90%" height="30%"></img>
            </div>
        </div>
        <form class="form-horizontal" ng-app="register" ng-controller="validateCtrl">
            <div class="form-group">
                <label for="username" class="col-xs-3 control-label">用 户 名</label>
                <div class="col-xs-8">
                <input type="text" class="form-control" id="username" ng-model="username" required placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                    <label for="username" class="col-xs-3 control-label">姓&nbsp;&nbsp;名</label>
                    <div class="col-xs-8">
                    <input type="text" class="form-control" id="username" ng-model="name" required placeholder="Name">
                    </div>
                </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-xs-3 control-label">手机号码</label>
                <div class="col-xs-8">
                <input type="text" class="form-control" id="phoneNumber" ng-model="phone" required placeholder="Phone">
                </div>
            </div>
            <div class="row">
                <label class="radio-inline col-xs-offset-3 col-xs-3">
                    <input type="radio" name="genderRadio" id="genderMale" value="1" ng-checked="gender==1"> 先生
                </label>
                <label class="radio-inline col-xs-3">
                    <input type="radio" name="genderRadio" id="genderFemale" value="0" ng-checked="gender==2"> 女士
                </label>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-3">
                <button class="btn btn-info" ng-click="doRegister()">开始点餐</button>
                </div>
                <div class="col-xs-offset-2 col-xs-3">
                    <div class="btn btn-info">已有账号</button>
                </div>
            </div>
        </form>
    </div>

</body>

<script>
    var app = angular.module('register', []);
    app.controller('validateCtrl', function($scope, $http) {
    	$scope.openid = '12';
    $scope.username = '12';
    $scope.name = '12';
    $scope.phone = "1";
    $scope.gender = "2";

    $scope.doRegister = function() {
        $http({
        method: 'post',
        data:{  username:$scope.username,
                name:$scope.name,
                gender:$scope.gender,
                phone:$scope.phone},
        url: 'http://localhost:8080/wos/page/register'
        }).then(function successCallback(response) {
            console.log(response.data);
        }, function errorCallback(response) {
            // 请求失败执行代码
        });
    }
});
</script>

</html>
